.main {
  border: 1px solid #000;
  margin-top: 5rem;
  display: flex;
  margin: 15rem auto;
  justify-content: center;
  width: 80%;
}

.contact-form {
  background-color: #83d6d9b6;
  width: 50%;

  font-size: 2rem;
  padding: 3rem;
  line-height: 1.5;
  min-height: 60vh;
  color: aliceblue;
}

.gender-part {
  margin-block: 2rem;
}

.gender-div,
.contact-fav {
  display: flex;
  justify-content: center;
  text-align: center;
}

.gender-part p,
.details p,
.numbers-email p {
  font-weight: 700;
  font-size: 2.2rem;
  padding-top: 2rem;
  text-shadow: 2px 2px 2px #3b3b3b;
}

textarea,
input {
  margin-top: 1rem;
  height: 2rem;
  background-color: #e4e7e7b6;
  border: none;
  border-radius: 5px;
  width: 100%;
}

.shadow {
  box-shadow: 2px 2px 2px #3a3a3a;
}

.description-part {
  font-weight: 700;
  text-shadow: 2px 2px 2px #3b3b3b;
}
.description-area {
  height: 60vh;
  width: 90%;
  border-radius: 5px;
}

.submit-form {
  padding: 1rem;
  border-radius: 5px;
  font-weight: 700;
  font-size: 1rem;
  color: #fff;
  background-color: rgb(37, 37, 37);
  letter-spacing: 0.25rem;
}

.submit-form:hover {
  background-color: #fff;
  color: #000;
  cursor: not-allowed;
  transition: ease 300ms;
}

@media screen and (max-width: 1200px) {
  .main {
    margin-top: 25rem;
    flex-direction: column;
  }

  .contact-form {
    width: auto;
  }
}

/* @media screen and (max-width: 900px) {
  .main {
    margin-top: 25rem;
  }
} */

@media screen and (max-width: 585px) {
  .main {
    margin-top: 30rem;
  }

  .contact-form {
    font-size: 1.5rem;
  }
}

/* @media screen and (max-width: 450px) {
  .main {
    margin-top: 35rem;
  }
}  */
