.container {
  display: grid;
  grid-template-rows: 9.25rem auto;
  grid-template-areas:
    "header"
    "main";
  background-image: url("./assets/images/meghan-mosser-8FCNO3t7fso-unsplash.jpg");
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: aliceblue;
}

a:hover {
  font-weight: 700;
}

main {
  grid-area: main;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(37, 37, 37);
  position: fixed;
  width: 100%;
  height: 9.25rem;
  grid-area: header;
  z-index: 10;
  align-items: center;
}

header img {
  width: 6rem;
  height: 6rem;
  padding: 1.5rem;
  border-radius: 50%;
}

h1 {
  font-size: 4rem;
  font-family: "Give You Glory", cursive;
  color: #83d6d9b6;
}

h1 span {
  font-size: 0.5em;
  font-style: italic;
  margin-left: 0;
}

ul {
  display: flex;
  justify-content: space-around;
  gap: 5rem;
  padding-inline: 4rem;
  padding-block: 3rem;
  font-size: 2rem;
  font-family: "Unbounded", cursive;
  color: rgb(255, 255, 255);
}

main {
  display: flex;
  margin: 5rem auto;
  justify-content: space-between;
  width: 80%;
}
.presentation {
  background-color: #ffffff71;
  font-size: 1.25rem;
  width: 50%;
  line-height: 1.5;
  text-align: justify;
}

.presentation h2 {
  text-align: center;
  font-weight: 700;
  font-size: 2rem;
  padding-bottom: 1rem;
  width: 100%;
  background-color: #83d6d9b6;
}

.presentation p {
  margin-inline: 3rem;
  padding-top: 1.5rem;
}

.img-presentation {
  width: auto;
  height: 60rem;
  border: 2px solid #000;
}
