body {
  background-image: url("./assets/images/meghan-mosser-8FCNO3t7fso-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-color: rgb(37, 37, 37);
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: aliceblue;
}

a:hover {
  font-weight: 700;
}

main {
  grid-area: main;
}

header {
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(37, 37, 37);
  position: fixed;
  top: 0;
  width: 100%;
  min-height: 9.25rem;
  z-index: 10;
  align-items: center;
}

header img {
  width: 6rem;
  height: 6rem;
  padding: 1.5rem 4rem;
  border-radius: 50%;
}

h1 {
  font-size: 4rem;
  font-family: "Give You Glory", cursive;
  color: #83d6d9b6;
}

h1 span {
  color: rgb(238, 213, 181);
  font-size: 0.5em;
  font-style: italic;
  margin-left: 0;
  padding-right: 4rem;
  animation: 2s 0.3s forwards blink;
  opacity: 0;
}

@keyframes blink {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}

.nav-ul {
  display: flex;
  justify-content: space-around;
  gap: 5rem;
  padding-inline: 4rem;
  padding-block: 3rem;
  font-size: 2rem;
  font-family: "Unbounded", cursive;
  color: rgb(255, 255, 255);
  list-style: none;
}

.main-home {
  display: flex;
  margin: 0 auto;
  padding-block: 12.5rem;
  justify-content: center;
  gap: 6rem;
  max-width: 80%;
  min-height: 100vh;
}

.presentation {
  background-color: #ffffffb1;
  font-size: 1.25rem;
  line-height: 1.5;
  text-align: justify;
  font-family: "Unbounded", cursive;
  width: 50%;
}

.presentation h2 {
  text-align: center;
  font-weight: 700;
  font-size: 2rem;
  padding-bottom: 1rem;
  width: 100%;
  background-color: #83d6d9b6;
}

.presentation p {
  margin-inline: 3rem;
  padding-top: 1.5rem;
}

.presentation ul,
.presentation ol {
  margin-inline: 3rem;
  padding-top: 1.5rem;
}

.img-presentation {
  border: 2px solid #000;
  height: 100%;
  width: 50%;
}

.italic {
  font-style: italic;
  font-size: 1rem;
}

.strong {
  font-weight: 700;
}

.strike {
  text-decoration: line-through;
}

/* RESPONSIVE*/

@media screen and (max-width: 1200px) {
  header {
    flex-wrap: wrap;
  }

  .main-home {
    flex-direction: column;
    width: 100%;
    padding-top: 23rem;
    margin-bottom: 2rem;
  }

  .presentation {
    width: 100%;
  }

  .img-presentation {
    width: 100%;
  }
}

@media screen and (max-width: 660px) {
  .main-home {
    padding-top: 15rem;
    gap: 3rem;
  }

  header img {
    width: 3rem;
    height: 3rem;
    padding: 0.75rem 2rem;
    border-radius: 50%;
  }

  h1 {
    font-size: 2rem;
  }

  .nav-ul {
    flex-direction: column;
    font-size: 1.5rem;
    gap: 1rem;
    font-size: 1rem;
    padding-block: 1rem;
  }
}
